
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.8em;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
}

.wrap {
  width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}


.visually-hidden {
 position: fixed;
 transform: scale(0);
 margin: 0;
 padding: 0;
}

.header-title {
  display: flex;
  flex-direction: column;
  padding: ;
}

.navigation {
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  color: #000000;
  background: #FFFFFF;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
  margin-bottom: 0;
  position: relative;
}

.navigation-list {
  display: flex;
  min-width: 339px;
  margin-left: 0;
  margin-bottom: 20px;
  margin-right: 285px;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}


.navigation-user {
  display: flex;
  min-width: 268px;
  margin-right: 70px;
  margin-bottom: 14px;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}

.navigation-link {
  display: flex;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
}

.navigation-user-link {
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.navigation-user-link-search {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-image: url(../images/icons/search.svg);
}

.navigation-user-link-favorites {
  display: inline-block;
  flex-shrink: 0;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-image: url(../images/icons/heart.svg);
}

.notification {
  display: inline-block;
  flex-shrink: 0;
  justify-content: center;
  vertical-align: super;
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 1em;
}

.navigation-user-link-button {
  background-color:#756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.main-sedona {
  background-image: url(../images/divider.svg), url(../images/cover-illustration/index-background.jpg);
  background-size: 100%, cover;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 371px;
  background-color: #134d73;
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.section-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-headline {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18em;
  text-align: center;
}

.uppercase-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.uppercase-title-white {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-headline {
  display: flex;
  padding: 69px 290px 0 290px;
  margin: 0;
  width: 620px;
}

.advantages {
  width: 100%;
  margin: auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 400px;
  height: 385px;
  align-items: center;
}

.advantages-item-city {
  display: flex;
  flex-direction: row;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}
.advantages-item-square {
  background-color: #83B3D31F;
}
.advantages-item-road {
  background-color: #83B3D333;
}
.advantages-item-tourists {
  background-color: #83B3D31F;
}
.advantages-item-bridge {
  display: flex;
  flex-direction: row;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-discription {
  text-align: center;
}

.infrastructure {
  width: 100%;
}

.infrastructure-title {
  padding-top: 64px;
}

.infrastructure-headline {
  margin: 0;
  padding-bottom: 64px;
}

.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.infrastructure-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.infrastructure-item {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.infrastructure-title { margin: 0;
  padding: 0;
  text-align: center;
  order: 1;
}

.infrastructure-description{ margin: 0;
padding: 0;
order: 2;
}

.infrastructure-appartment {
  background-image: url(../images/icons/house.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.infrastructure-food {
  background-image: url(../images/icons/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.infrastructure-gift {
  background-image: url(../images/icons/gift.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.infrastructure-description {
  text-align: center;
  width: 400px;
  height: 385px;
}

.search {
  display: flex;
  flex-direction: column;
  min-height: 406;
  padding: 94px 304px;
  margin: 0;
}

.subscribe-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 96px 258px 104px 258px;
  background-image: url(../images/cover-illustration/subscribe.jpg);
  background-size: cover;
  background-color: #82B3D3;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin: 0;
}

.subscribe-form {
  margin: 0;
}

.subscribe-title {
  color: #FFFFFF;
}

.button {
  color: #FFFFFF;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8em;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
}

.search-button {
  text-decoration: none;
  background-color:#756157;
  margin: 0 auto;
}

.subscribe-button {
  background-color: #82B3D3;
}

.text::placeholder {
  background-color:#F2F2F2;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 120px;

}

.socials-list {
  display: flex;
  padding: 0;
  list-style-type: none;

  margin: 45px 41px 35px 70px;
}

.socials-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 47.33px;
  height: 40px;;
}

li.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  text-decoration: none;
  margin: 0;
}

.socials-link-vk {
  background-image: url(../images/socials/vk.svg);
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  width: 24px;
  height: 14px;
}

.socials-link-telegram {
  background-image: url(../images/socials/telegram.svg);
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  width: 18px;
  height: 15px;
}

.socials-link-youtube {
  background-image: url(../images/socials/youtube.svg);
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  width: 22px;
  height: 17px;
}

.contacts {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  height: 50px;
  margin: 40px 0 30px 0;
}

.phone {
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0;
  width: 720px;
}

.developer {
  display: flex;
  margin-top: 48px;
  margin-bottom: 38px;
  margin-right: auto;
  height: 50px;
}

/* CATALOG */

.main-catalog {
  flex-grow: 1;
}

.hotels-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 412px;
  background-image: url(../images/cover-illustration/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.hotels-filter-title {
  font-family: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3em;
  color: #FFFFFF;

  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  height: 21px;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  margin: 0;
}

.breadcrumbs-item::after {
  content: "";
  display: flex;
  justify-content: center;
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 8px;
  height: 20px;
  margin: 0;
}

.breadcrumbs-item::after:not(:last-child) {
  background-image: none;
}

.breadcrumbs-link {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31em;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

.breadcrumbs-link-main {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 1em;
  width: 1em;
  background-image: url(../images/icons/main-page.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.form-section h2 {
  margin: 0;
}

.form-section {
  display: flex;
  margin: 0;
}

.filter-form {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  height: 160px;
  align-items: center;
}

.infrastructure-filter {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}

.type-filter {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}

.price-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 288px;
  height: 104px;
  margin: 0;
}

.filter-button {
  font-family: inherit;
  display: flex;
  width: 191px;
  align-items: center;
}

.filters-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: left;
  color: #FFFFFF;
}

.filter-item {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27em;
  text-align: left;
  color: #FFFFFF;
}

.catalog-navigation {
  display: flex;
  justify-content: space-around;
}

.catalog-select {

}

.catalog-vision {

}

.catalog-vision-block {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-image: url(../images/views/view-blok.svg);
  background-repeat: no-repeat;
}
.catalog-vision-slide {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-image: url(../images/views/view-slide.svg);
  background-repeat: no-repeat;
}
.catalog-vision-list {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-image: url(../images/views/view-list.svg);
  background-repeat: no-repeat;
}

.catalog {
  display: ;
}

.catalog-list  {
  display: grid;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.catalog-item:last-child {
  justify-content: flex-start;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
}

.item-description {
font-family: inherit;
font-size: 18px;
font-weight: 400;
line-height: 1.16em;
text-align: left;
}

.price {
font-family: inherit;
font-size: 18px;
font-weight: 400;
line-height: 1.16em;
text-align: right;
}

.five-stars {
  background-image: url(../images/icons/star.svg);
  background-repeat: repeat-x;
  width: 90px;
}

.four-stars {
  background-image: url(../images/icons/star.svg);
  background-repeat: repeat-x;
  width: 72px;
}
.three-stars {
  background-image: url(../images/icons/star.svg);
  background-repeat: repeat-x;
  width: 54px;
}
.two-stars {
  background-image: url(../images/icons/star.svg);
  background-repeat: repeat-x;
  width: 36px;
}

.one-star {
  background-image: url(../images/icons/star.svg);
  background-repeat: repeat-x;
  width: 18px;
}

.catalog-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
  height: 36px;
}

.filter-button-set{
  background-color: #82B3D3;
}

.filter-button-reset {
  border: none;
	background: transparent;
	background-color: transparent; ;
}

.read-more-button {
  background-color: #756157;
}

.favorite-button  {
  background-color: #82B3D3;
}

.favorite-button-on {
  border-radius: 4px;
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  list-style-type: none;
  min-width: 1060;
  height: 60px;
  margin: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8em;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
  height: 60px;
  width: 60px;
  border-radius: 4%;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe-catalog {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 415px;
  background-size: 100% auto;
  color: #333333;
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-title-catalog {
  color: #000;
}
