@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(.woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;

}

.header-title {
  color: #000000;
  background: #FFFFFF;
}

.navigation-list {
  list-style-type: none;
}

.navigation-user {
  list-style-type: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
}

.navigation-user-link {
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.navigation-user-link-search {
  background-image: url(../images/icons/search.svg);
}

.navigation-user-link-favorites {
  background-image: url(../images/icons/heart.svg);
}

.notification {
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 10px;
  text-align: center;
}
.navigation-user-link-button {
  background-color:#756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.main-sedona {
  background-image: url(../images/divider.svg), url(../images/cover-illustration/index-background.jpg);
  width: 100%;
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-position: bottom, center;
}


.welcome {
  position: relative;
  text-align: center;
  margin-bottom: 27px;
  margin-left: 371px;
}


.section-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.section-headline {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.uppercase-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {
  list-style-type: none;
}

.infrastructure-list {
  list-style-type: none;
}

.advantages-discription {
  text-align: center;
}

.advantages-item-city {
  background-color: #82B3D3;
}
.advantages-item-square {
  background-color: #83B3D31F;
}
.advantages-item-road {
  background-color: #83B3D333;
}
.advantages-item-tourists {
  background-color: #83B3D31F;
}
.advantages-item-bridge {
  background-color: #82B3D3;
}

.infrastructure-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.infrastructure-description {
  text-align: center;
}

.subscribe {
  background-image: url(../images/cover-illustration/subscribe.jpg);
  width: 1200px;
  height: 415px;
}

.button {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.searching-button {
  background-color:#756157;
}

.subscribe-button {
  background-color: #82B3D3;
}

.placeholder {
  background-color:#F2F2F2;
  line-height: 24px;
}

.socials-link {
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.socials-link-vk {
  background-image: url(../images/socials/vk.svg);
}

.socials-link-telegram {
  background-image: url(../images/socials/telegram.svg);
}

.socials-link-youtube {
  background-image: url(../images/socials/youtube.svg);
}

.phone {
  font-family: "PT Sans". sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}


/* CATALOG */

.breadcrumbs-list  {
  list-style-type: none;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-item::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link-main {
  background-image: url(../images/icons/main-page.svg);
  background-repeat: no-repeat;
}

.infrastructure-filter-list{
  list-style-type: none;
}

.type-filter-list {
  list-style-type: none;
}

.hotels-filter {
  background-image: url(../images/cover-illustration/filter.jpg);
  background-color:#82B3D3;
  background-repeat: no-repeat;
}

.hotels-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
}

.filters-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
}

.filter-item {
font-family: "PT Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
color: #FFFFFF;
}

.catalog-list  {
  list-style-type: none;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
}

.item-description {
font-family: "PT Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.price {
font-family: "PT Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: right;

}

.catalog-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  color: #FFFFFF;
}

.filter-button-set{
  background-color: #82B3D3;
}

.read-more-button {
  background-color: #756157;
}

.favorite-button  {
  background-color: #82B3D3;
}

.favorite-button-on {
  border-radius: 4px;
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color:#82B3D3;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.socials-list {
  list-style-type: none;
}
